<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dashboard</title>
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  padding: 10px;
  height: 800px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h3>Dashboard</h3>

<div class="row">
  <div class="column" style="background-color:#020202;">
    <h4>Graph</h4>
    <img src="plpercentage.png" alt="description" align="left"> </img>
  </div>
  <div class="column" style="background-color:#5894c4;">
      <br><br><br><br><br><br><br><br>
    <h4> Key Points </h4>
    <h5> Proposed PnL: -0.001189 </h5>
      <p> STRATEGY: We issued a BUY rating for this currency pair. Our model predicts a gain of 2.0091% in closing price after the next 1 trading day(s). If this trend-following strategy's recommendations were followed every day for the entire period, your profit ratio (gross of trading fees and slippage) would be -0.0369. Your absolute returns would be $-4.9069</p>

  </div>
</div>

<div class="row">
  <div class="column" style="background-color:#020202;">
    <h4>Graph</h4>
    <img src="arimapredictions.png" alt="description" align="left"> </img>
  </div>
  <div class="column" style="background-color:#5894c4;">
      <br><br><br><br><br><br><br><br>
    <h4> Arima Prediction </h4>
  </div>
</div>


<div class="row">
  <div class="column" style="background-color:#020202;">
    <h4>Graph</h4>
    <img src="daily_pnl.png" alt="description" align="left"> </img>
  </div>
  <div class="column" style="background-color:#5894c4;">
      <br><br><br><br><br><br><br><br>
    <h4> Daily PnL </h4>
  </div>
</div>


<div class="row">
  <div class="column" style="background-color:#020202;">
    <h4>Graph</h4>
    <img src="plottransformationrate.png" alt="description" align="left"> </img>
  </div>
  <div class="column" style="background-color:#5894c4;">
      <br><br><br><br><br><br><br><br><br><br><br>
    <h4> Plotting the transformation rate </h4>
  </div>
</div>

<br><br><br><br>


		  <br><br><br><br><br><br><br><br>
		  <a id="back" href="select_program"><button><b>Home</b></button></a>



</body>
</html>